.App {
  background-color: rgb(255, 255, 173);
}
.Titulo{
  text-align: center;
}
.quadreExterior {
  background-color: rgb(240, 176, 176);
  margin-left: 10%;
  margin-right: 7%;
  margin-bottom: 1%;
  display: flex;
}
.imagen {
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.image-container {
  width: 32%;
}
.profesor {
  width: 100%;
  position: relative;
}